ion-content {
  --background: none;
 
  background-image: url('../img/carte.png');
  background-repeat: no-repeat;
  background-size: cover;
}

ion-grid {
  text-align: center;
  width: 60%;
}

.iconheart{
  color: red; 
}

.iconpeople{
  color: midnightblue; 
}

.iconcash{
  color: darkgreen; 
}

.resource-container{
  border: solid 1px grey;
  height: 8vh;
  vertical-align: middle;
  font-size: 5vh;
}

.curve-container{
  color: red;
  border: solid 1px grey;
  height: 20vh;
}

.cardstack-container{
  border: solid 1px grey;
  height: 60vh;
}