

ion-content {
  --background: url('../components/images/bg.png') -40px -20px/104% 104% no-repeat;
  font-weight: 500;
  font-family: 'Verdana';
}

ion-content ion-toolbar {
  --background: translucent;
}

ion-grid {
  text-align: center;
  max-width: 560px;
}

.resource-container{
  background-color: #4B4237;
  border-radius: 12px;
  height: 7vh;
  vertical-align: middle;
  font-size: 5vh;
  margin-top: -28vh;
}

.curve-container {
  background-color: #6b6357;
  border-radius: 12px;
  height: 25vh;
  width: 100%;
  margin-top: 6vh;
  padding-top: 20%;
  overflow: hidden;
}

.cardstack-container{
  background-color: #6b6357;
  border-radius: 12px;
  height: 32vh;
  margin-top: 24vh;
}

.card {
  background-color: #EDE7D9;
  border-radius: 12px;
  height: 29vh;
  margin: 16px;
  padding: 10%;
  color: black;
  font-size: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 30px;
  user-select: none;
}

.card:hover {
  text-decoration-style: none;
  cursor: pointer;
}

.choices {
  display: flex;
  font-weight: 700;
}

.choice {
  background-color: #D5A021;
  border-radius: 12px;
  min-height: 7vh;
  margin: 12px;
  margin-top: 2.5vh;
  padding: 12px;
  width: 280px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.border {
  border: solid 1px blue;
}

.full-width {
  width: 100%;
  z-index: -1px;
}